#wrap {
    margin: 0 auto;
    max-width: 1920;
    min-width: 1920px;
    height: 100%;
}
#file {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
/* scrollbar */
::-webkit-scrollbar {width: 8px; height: 12px;  }
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {display: none; width: 12px;height: 12px; background: url() rgba(0,0,0,.05);}
::-webkit-scrollbar-thumb {  background: rgba(0,0,0,.1);  }


/* modal */
.modal {
    display: none;
    position: absolute;
    padding: 35px 40px 40px;
    top: 50%;
    left: 50%;
    width: 480px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.modal h3 {
    font-size: 1.2rem;
    font-weight: 900;  
}
.modal h3 img {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    height: 25px;
    vertical-align: top;
}
.modal .tabs {
    margin: 15px 0 25px;
    border-bottom: 1px solid #dfdfdf;
}
.modal .tab-link {
    float: left;
    padding: 7px 10px;
    color: #999;
}
.modal .tab-link.active {
    color: #2fb987;
    border-bottom: 3px solid #2fb987;
}
.modal .modal-contents {
    display: none;
}
.modal .modal-contents.active {
    display: block;
}
.modal .input-title {
    font-size: 0.9rem;
    text-align: left;
}
.modal input {
    margin: 10px 0 15px;
    padding: 10px;
    width: 100%;
    height: 35px;
    color: #666;
    font-weight: 300;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
}
.modal input.active {
    border-color: #2fb987;
}
.modal input[type="number"] {
    width: 20%;
}
.modal input[type="number"].month {
    margin: 0 2%;
    width: 56%;
}
.modal .password-area {
    position: relative;
}
.modal .eye {
    position: absolute;
    top: 20px;
    right: 10px;
    display: block;
    width: 19px;
    height: 14px;
    cursor: pointer;
    background-image: url(../img/ic_security.png);
    background-size: cover;
}
.modal .eye.active {
    background-image: url(../img/ic_security_active.png);
}
.modal .text {
    font-size: 0.9rem;
    color: #2fb987;
    font-weight: 500;
}
.modal .btn {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    color: #999;
    background-color: #f2f2f2;
    border-radius: 3px;
}
.modal .btn.active {
    color: #fff;
    background-color: #2fb987;
}
.modal .birth-area {
    font-size: 0;
}
.modal span {
    font-size: 0.9rem;
    color: #666;
}
/* aisde */
aside {
    display: none;
    position: fixed;
    top: 30%;
    right: 30px;
    box-shadow: 3px 3px 12px 3px rgba(0,13,57,0.1);
    z-index: 9998;
}
aside a {
    display: block;
    padding-top: 32px;
    width: 120px;
    height: 120px;
    color: #333;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: center;
    background-color: #fff;
}
aside img {
    display: block;
    margin: 0 auto 5px;
    width: 34px;
    height: 34px;
}
aside .naver {
    color: #fff;
    background-color:#00c73c;
}
aside .youtube {
    color: #333;
}
aside .youtube img {
    width: 44px;
    height: 31px;
}
aside .kakao {
    background-color: #ffe900;
}
aside .kakao img {
    width: 46px;
    height: 43px;
}

/* page area*/
.page-area {
    color: #999;
    text-align: center;
}
.page-area a+a {
    margin-left: 40px;
}
.page-area a.active {
    color: #2fb987;
}
.page-area a.prev {
    display: inline-block;
    width: 9px;
    height: 17px;
    background-image: url(../img/page_prev.png);
    vertical-align: middle;
}
.page-area a.next {
    display: inline-block;
    width: 9px;
    height: 17px;
    background-image: url(../img/page_next.png);
    vertical-align: middle;
}
/* visual */
.header-fix {
    position: fixed;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #d8d8d8;
    z-index: 10000;
}
.header-fix .contents {
    width: 100%;
}
.header-fix.active {
    background-color: #fff;
}
.visual {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../img/visual_bg.png);
    background-size: cover;
}
.visual header {
    padding: 0 80px;
    width: 100%;
    height: 100px;
}
.visual header .header-top {
    height: 32px;
}
.visual header .header-top .gnb-area {
    float: right;
    margin-top: 15px;
}
.visual header .header-top .gnb-area ul {
    font-size: 0;
}
.visual header .header-top .gnb-area li {
    position: relative;
    display: inline-block;
    color: #666;
    font-size: 0.75rem;
}
.visual header .header-top .gnb-area li input[type="text"] {
    display: none;
    padding: 5px;
    width: 153px;
    border: 0;
    border-bottom: 1px solid #999;
    background-color: transparent;
}
.visual header .header-top .gnb-area li button {
    display: none;
    position: absolute;
    top: 6px;
    right: 5px;
    width: 15px;
    height: 16px;
    background-image: url(../img/ic_search.png);
    background-size: cover;
}
.visual header .header-top .gnb-area li img {
    position: absolute;
    top: 4px;
    right: 0;
    width: 15px;
    height: 16px;
}
.visual header .header-top .gnb-area li+li {
    margin-left: 15px;
}
.visual header .logo {
    float: left;
    width: 150px;
    height: 37px;
    background-image: url(../img/logo.png);
    background-size: cover;
}
.visual header .logo a {
    display: block;
    width: 100%;
    height: 100%;
}
.visual header nav {
    float: left;
    position: relative;
    left: 25%;
    width: 560px;
    font-weight: bold;
}
.visual header nav .nav-wrap {
    font-size: 0;
}
.visual header nav .nav-wrap .nav-list {
    display: inline-block;
    font-size: 1rem;
}
.visual header nav .nav-wrap .nav-list a {
    color: #111;
    line-height: 37px;
}
.visual header nav .nav-wrap .nav-list+.nav-list {
    margin-left: 3vw;
}
.visual header .notice-area {
    position: absolute;
    bottom: 20px;
    right: 80px;
    color: #333;
    font-size: 0.75rem;
    font-weight: 300;
}
.visual header .notice-area span {
    font-weight: 300;
}
.visual header .notice-area span::before {
    content: '';
    display: inline-block;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    background-image: url(../img/ic_bit.png);
    background-size: cover;
    vertical-align: middle;
}
.visual header .notice-area a {
    margin-left: 50px;
    font-weight: 300;
}
.visual header .notice-area a::before {
    content: '';
    display: inline-block;
    margin-right: 7px;
    width: 15px;
    height: 15px;
    background-image: url(../img/ic_notice.png);
    background-size: cover;
    vertical-align: sub;
}
.visual header .notice-area b {
    margin-left: 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
}


/* container */
.container {
    position: relative;
    margin-top: -100px;
    padding: 50px 0 80px;
    border-bottom: 1px solid #d8d8d8;
}
.container .slide-area {
    padding: 0 85px;
}
.container .slide-area ul {
    font-size: 0;
}
.container .slide-area li {
    position: relative;
    display: inline-block;
    padding-top: 40px;
    width: 210px;
    height: 220px;
    font-size: 1rem;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 12px 3px rgba(0,13,57,0.1);
    vertical-align: bottom;
}
.container .slide-area li:hover {
    border: 1px solid #2fb987;
}
.container .slide-area li:hover span {
    color: #2fb987;
    font-weight: 500;
}
.container .slide-area li .ready {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   font-size: 1.5rem;
   font-weight: 500;
   line-height: 220px;
   color: #fff;
   background-color: rgba(0,0,0,0.3);
   border-radius: 10px;
   z-index: 10;
}
.container .slide-area li a {
    display: block;
    width: 100%;
    height: 100%;
}
.container .slide-area .upbit {
    padding-top: 50px;
}
.container .slide-area .bithumb img {
    width: 66px;
    height: 76px;
}
.container .slide-area .powerball img {
    width: 74px;
    height: 79px;
}
.container .slide-area li+li {
    margin-left: 20px;
}
.container .slide-area li img {
    width: 83px;
    height: 68px;
    margin: 0 auto;
}
.container .slide-area li span {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    padding: 16px 0;
    width: 100%;
    color: #666;
    line-height: 1.2;
    background-color: #f6f6f6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container .slide-area li .icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 37px;
    height: 37px;
    color: #fff;
    font-weight: bold;
    line-height: 37px;
    background-color: #2fb987;
    border-radius: 50%;
}
.container .slide-area li .orange {
    background-color: #fd7e02;
}
.container .gamerank-area {
    margin-top: 40px;
    padding: 0 60px;
    width: 100%;
    height: 100px;
    background-image: url(../img/gamerank_bg.png);
    background-size: cover;
}
.container .gamerank-area h3 {
    float: left;
    margin: 32px 100px 0 0;
    width: 267px;
    height: 36px;
    font-size: 40px;
    font-weight: bold;
    background-image: url(../img/ic_gamerank.png);
    background-size: cover;
}
.container .gamerank-area .point {
    color: #2fb987;
}
.container .gamerank-area div {
    float: left;
    width: 1190px;
    overflow: hidden;
}
.container .gamerank-area ul {
    float: left;   
    padding: 0 10px;
    overflow: hidden;
}
.container .gamerank-area li {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    padding-left: 70px;
    width: 264px;
    height: 60px;
    color: #333;
    font-size: 1.1rem;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 3px 3px 12px 3px rgba(0,13,57,0.1);
    vertical-align: bottom;
}
.container .gamerank-area li:hover {
    border: 1px solid #2fb987;
}
.container .gamerank-area li+li {
    margin-left: 30px;
}
.container .gamerank-area li a {
    display: block;
    line-height: 60px;
}
.container .gamerank-area li .num {
    position: absolute;
    display: block;
    top: 7px;
    left: 7px;
    width: 46px;
    height: 46px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    line-height: 46px;
    background-color: #2fb987;
    border-radius: 50%;
    
}
.container-btm {
    position: relative;
}
.fix-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 100%;
    padding: 60px 60px 0 0;
    border-right: 1px solid #d8d8d8;
}
.fix-area .login-ok .profile-area .profile-info {
    float: left;
    margin-left: 25px;
    font-size: 0.85rem;
    
}
.fix-area .login-ok .profile-area .profile-info .level {
    position: relative;
    margin-bottom: 5px;
    width: 85px;
    height: 20px;
    color: #2fb987;
    font-size: 0.75rem;
    font-weight: 500;
    text-indent: 40px;
    border: 1px solid #2fb987;
    border-radius: 10px;
    
}
.fix-area .login-ok .profile-area .profile-info .level::before {
    content: 'Lv.4';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    height: 100%;
    color: #fff;
    text-indent: 5px;
    background-color: #2fb987;
    border-radius: 10px;
    
}
.fix-area .login-ok .profile-area .profile-info p {
    font-weight: 600;
    
}
.fix-area .login-ok .profile-area .profile-info .point span+span {
    margin-left: 11px;
}
.fix-area .login-ok .profile-area .profile-info .point span {
    color: #666;
    font-size: 0.7rem;
}
.fix-area .login-ok .profile-area .profile-info .point .orange {
    margin-left: 7px;
    color: #fd7e02;
    font-weight: 600;
}
.fix-area .login-ok .profile-area img {
    float: left;
    width: 90px;
    height: 90px;
    
}
.fix-area .login-ok .profile-area .gnb {
    margin-top: 5px;
    border-top: 1px solid #dfdfdf;
    
}
.fix-area .login-ok .profile-area .gnb img {
    float: none;
    display: inline-block;
    margin-right: 3px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    
}
.fix-area .login-ok .profile-area .gnb img:nth-of-type(2) {
    margin-left: 7px;
    width: 15px;
    height: 11px;
    
}
.fix-area .login-ok .profile-area .gnb img:nth-of-type(3) {
    margin-left: 9px;
    width: 11px;
    height: 12px;
    
}
.fix-area .login-ok .profile-area .gnb span {
    color:#666;
    font-size: 0.7rem;
    
}
.fix-area .login-ok .profile-area button {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    color: #666;
    font-size: 0.9rem;
    background-color: #f6f6f6;
    border-radius: 10px;
    
}
.fix-area .chat-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 12px 3px rgba(0,13,57,0.1);

}
.fix-area .chat-area .chat-head {
    padding: 0 40px;
    width: 100%;
    height: 90px;
    background-color: #2fb987;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.fix-area .chat-area .chat-head span {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 90px;
}
.fix-area .chat-area .chat-head .view {
    float: right;
    font-size: 0.9rem;
    font-weight: 400;
}
.fix-area .chat-area .chat-head .view::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    background-image: url(../img/ic_view.png);
    background-size: cover;
}
.fix-area .chat-area .chat-mid {
    position: relative;
    padding: 0 10px 0 30px;

}
.fix-area .chat-area .chat-mid ul {
    height: 300px;
    overflow-y: scroll;
}
.fix-area .chat-area .chat-mid li {
    padding: 7px 0;

}
.fix-area .chat-area .chat-mid li img {
    float: left;
    margin-right: 15px;
    width: 45px;
    height: 45px;

}
.fix-area .chat-area .chat-mid li p {
    color: #666;
    font-size: 0.85rem;

}
.fix-area .chat-area .chat-mid li .title {
    color: #333;
    font-size: 0.85rem;
    font-weight: 500;

}
.fix-area .chat-area .chat-bottom {
    padding: 20px 40px 0;
    width: 100%;
    height: 65px;
    background-color: #f6f6f6;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.fix-area .chat-area .chat-bottom button {
    color: #2fb987;
}
.fix-area .login-btn button {
    width: 310px;
    height: 70px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    background: linear-gradient(to top, #2fb987, #25cf92);
    border-radius: 10px;
}
.fix-area .login-btn button img {
    display: inline-block;
    width: 100px;
    height: 25px;
    vertical-align: baseline;
}
.fix-area .login-service {
    margin-top: 10px;
    font-size: 0;
}
.fix-area .login-service button {
    width: 152px;
    height: 62px;
    color: #666;
    font-size: 1.1rem;
    background-color: #f6f6f6;
    border-radius: 10px;
}
.fix-area .login-service button:nth-child(2) {
    margin-left: 5px;
}
.broadcast-area {
    float: left;
    padding: 60px 0 100px 60px;
    margin-left: 370px;
}
.broadcast-area h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    text-indent: 6px;
}

.broadcast-area ul {
    position: relative;
}
.broadcast-area li {
    float: left;
    position: relative;
    margin: 0 6.5px 30px;
    width: 208px;
    font-size: 0.8rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.broadcast-area li.ready {
    position: absolute;
    padding-top: 203px;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
}
.broadcast-area li.ready img {
    display: inline-block;
    width: 583px;
    height: 210px;
}
.broadcast-area li img {
    display: block;
    width: 100%;
    height: 121px;
}
.broadcast-area li .info {
    padding: 10px;
}
.broadcast-area li .info .title {
    margin-bottom: 5px;
    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
}
.broadcast-area li .info .name {
    color: #2fb987;
}
.broadcast-area li .info .view {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #999;
}
.broadcast-area .more-btn {
    text-align: center;
}
.broadcast-area .more-btn button {
    width: 98.5%;
    margin: 0 7px;
    height: 52px;
    font-size: 1rem;  
    color: #666;
    background-color: #eee;
}
.broadcast-area .more-btn button:hover {
    color: #fff;
    background-color: #2fb987;
}

/* 고객센터 - 공지사항*/
.sub-visual {
    height: 375px;
    background-image: url(../img/sub_visual_bg.png);
    background-size: 100%;
}
.sub-visual .header-fix {
    background-color: #fff;
}
.sub-visual h3 {
    color: #fff;
    font-size: 2.875rem;
    line-height: 475px;
    text-align: center;
}
.notice-area h3 {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.notice-area h3 .search-area {
    position: relative;
    float: right;
    width: 273px;
    height: 40px;
    background-color: #f6f6f6;
}
.notice-area h3 .search-area input {
    padding: 0 10px;
}
.notice-area h3 .search-area button {
    position: absolute;
    top: 14px;
    right: 20px;
    display: block;
    width: 13.5px;
    height: 15px;
    background-image: url(../img/ic_search.png);
    background-size: cover;
    vertical-align: middle;
}
.notice-area table {
    width: 1330px;
    border-top: 1px solid #333;
}
.notice-area table th {
    font-size: 1.125rem;
    height: 56px;
    border-bottom: 1px solid #d8d8d8;
}
.notice-area table td {
    padding: 0 30px;
    height: 56px;
    font-size: 1rem;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
}
.notice-area table td img {
    float: left;
    margin-right: 15px;
    width: 26px;
    height: 26px;
    vertical-align: middle;
}
.notice-area table td a {
    display: block;
    text-align: left;
}
.notice-area .write-btn {
    display: block;
    margin: 40px auto;
    width: 111px;
    height: 45px;
    color: #fff;
    background-color: #2fb987;
    border-radius: 10px;
}
/*고객센터 - 공지사항 detail*/
.notice-detail-area h3 {
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #000;
}
.notice-detail-area article {
    width: 1330px;
}
.notice-detail-area .title-area {
    padding: 15px 30px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
}
.notice-detail-area .title-area p {
    margin-bottom: 5px;
    color: #333;
    font-size: 1.125rem;
    font-weight: 500;
}
.notice-detail-area .title-area img {
    float: left;
    margin-right: 15px;
    width: 26px;
    height: 26px;
}
.notice-detail-area .title-area span {
    color: #666;
    font-size: 0.875rem;
}
.notice-detail-area .title-area a.name {
    font-size: 0.875rem;
    color: #2fb987;
}
.notice-detail-area .title-area span.title {
    margin-left: 30px;
}
.notice-detail-area .info-area {
    padding: 50px 30px;
    border-bottom: 1px solid #d8d8d8;
}
.notice-detail-area .info-area img {
    margin-bottom: 30px;
    width: 856px;
    height: 500px;
}
.notice-detail-area .info-area p {
    font-size: 1rem;
    color: #666;
}
.notice-detail-area .comment-area {
    padding: 30px 30px 0;
    font-size: 0;
}
.notice-detail-area .comment-area .title {
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 600;
}
.notice-detail-area .comment-area .title span {
    margin-left: 20px;
    font-size: 0.875rem;
    color: #2fb987;
}
.notice-detail-area .comment-area .text-area {
    position: relative;
    display: inline-block;
    width: 1130px;
}
.notice-detail-area .comment-area .text-area textarea {
    width: 100%;
    height: 65px;
}
.notice-detail-area .comment-area .text-area .noresize {
    resize: none;
}
.notice-detail-area .comment-area .text-area .emo {
    position: absolute;
    margin-left: 0;
    left: 20px;
    bottom: 17px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-image: url(../img/ic_list.png);
    background-position: -4px -28px;
}
.notice-detail-area .comment-area .text-area label {
    position: absolute;
    left: 45px;
    bottom: 17px;
    display: block;
    width: 18px;
    height: 16px;
    background-image: url(../img/ic_file.png);
    background-size: cover;
}
.notice-detail-area .comment-area button {
    display: inline-block;
    margin-left: 10px;
    width: 126px;
    height: 130px;
    font-size: 1.05rem;
    color: #fff;
    background-color: #2fb987;
    vertical-align: bottom;
}
.notice-detail-area .chat-area {
    margin-top: 30px;
}
.notice-detail-area .chat-area .chat-list+.chat-list {
    margin-top: -1px;
}
.notice-detail-area .chat-area .chat-list {
    position: relative;
    padding: 20px 30px;
    width: 100%;
    margin: 0;
    border-width: 1px 0;
}
.notice-detail-area .chat-area .chat-list img {
    float: left;
    margin-right: 15px;
    width: 40px;
    height: 40px;
}
.notice-detail-area .chat-area .chat-list .desc {
    margin-top: 15px;
    color: #666;
    font-size: 0.9rem;
}
.notice-detail-area .chat-area .chat-list .name {
    color: #333;
    font-size: 0.9rem;
    font-weight: 500;
}
.notice-detail-area .chat-area .chat-list .day {
    font-size: 0.7rem;
    color: #999;
}
.notice-detail-area .chat-area .chat-list .btn-area {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 0.812rem;
    color: #2fb987;
}
.notice-detail-area .chat-area .chat-list .delete {
    margin-left: 5px;
}
.notice-detail-area .list-btn-area {
    text-align: center;
}
.notice-detail-area .list-btn {
    display: inline-block;
    margin-top: 40px;
    width: 110px;
    height: 45px;
    color: #fff;
    font-size: 0.93rem;
    background-color: #aaa;
    border-radius: 10px;
}
/* 고객센터 - 공지사항 글쓰기 */
.notice-write-area h3 {
    padding-bottom: 20px;
    margin: 0;
    width: 1330px;
    border-bottom: 1px solid #000;
}
.notice-write-area .write-bx {
    padding: 30px;
    border-bottom: 1px solid #d8d8d8;
}
.notice-write-area .write-bx-in+.write-bx-in {
    margin-top: 15px;
}
.notice-write-area .write-bx .title {
    float: left;
    width: 110px;
    color: #333;
    font-weight: 600;
    line-height: 40px;
    vertical-align: top;
}
.notice-write-area .write-bx input[type="text"]{
    float: left;
    padding-left: 20px;
    width: 1150px;
    height: 40px;
    color: #666;
    border: 1px solid #bbb;
}
.notice-write-area .write-bx label {
    float: left;
    padding: 8px 0;
    display: block;
    width: 117px;
    height: 40px;
    font-size: 0;
    text-align: center;
    background-color:#2fb987;
}
.notice-write-area .write-bx label img {
    display: inline-block;
    margin-right: 7px;
    width: 18px;
    height: 16px;
}
.notice-write-area .write-bx label span {
    color: #fff;
    font-size: 0.875rem;
    vertical-align: bottom;
}
.notice-write-area .write-bx .file-name {
    margin-left: 15px;
    font-size: 0.75rem;
    color: #666;
    line-height: 40px;
}
.notice-write-area .write-bx textarea {
    padding: 20px;
    width: 1150px;
    height: 370px;
    color: #666;
    border: 1px solid #bbb;

}
.notice-write-area .list-btn-area {
    margin-top: 30px;
    font-size: 0;
    text-align: center;
}
.notice-write-area .list-btn-area button {
    width: 110px;
    height: 45px;
    color: #fff;
    background-color: #2fb987;
    border-radius: 10px;
}
.notice-write-area .list-btn-area .cancel {
    margin-left: 10px;
    background-color: #aaa;
}
/* 이용약관 */
.use {
    background-image: url(../img/use_visual_bg.png);
}
.term-of-service {
    padding: 80px 0 150px;

}
.term-of-service h3 {
    margin-bottom: 40px;
    font-size: 2.18rem;

}
.term-of-service p {
    color: #666;
    font-size: 1rem;

}
/* 1:1문의 */
.question-visual {
    background-image: url(../img/question_visual_bg.jpg);
}
.question-area h3 {
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 400;
}
.question-area .service-area .service-list {
    margin: 0;
    padding: 50px 0 40px;
    width: 310px;
    height: 350px;
    text-align: center;
    background-color: #f6f6f6;
    border-width: 0;
    border-radius: 10px;
}
.question-area .service-area .service-list:hover {
    background-color: #fff;
    color: #2fb987;
    border: 1px solid #2fb987;
    box-shadow: 3px 3px 12px 3px rgba(0,13,57,0.1);
}
.question-area .service-area .service-list:hover .go {
    color: #fff;
    font-weight: 600;
    background-color: #2fb987;
}
.question-area .service-area .service-list+.service-list {
    margin-left: 30px;
}
.question-area .service-area .service-list span {
    margin-top: 20px;
    display: inline-block;
    color: #333;
    font-size: 1.25rem;
    font-weight: 600;
}
.question-area .service-area .service-list img {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.question-area .service-area .service-list .go {
    display: block;
    margin: 30px auto 0;
    width: 120px;
    height: 45px;
    color: #fff;
    font-size: 1rem;
    line-height: 45px;
    background-color: #aaa;
    border-radius: 30px;
}
.question-area .caution {
    margin-top: 80px;
}
.question-area .caution .title {
    margin-bottom: 15px;
    color: #333;
    font-size: 1.125rem;
    font-weight: 600;
}
.question-area .caution span {
    color: #666;
}

/* 1:1 문의 detail */
.question-detail .sub-visual {
    background-image: url(../img/question_visual_bg.png);
}
.question-detail .profile {
    float: left;
    margin: -10px 25px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.question-detail .commnet-bx {
    padding: 40px 0 30px;
}
.question-detail .comment-area {
    margin-left: 65px;
    margin-bottom: 40px;
    padding: 0;
}
.question-detail .comment-area button {
    width: 125px;
    height: 100px;
    font-weight: 600;
}
.question-detail .comment-area .text-area {
    position: relative;
    width: 1010px;
}
.question-detail .comment-area .text-area::before {
    content: '';
    position: absolute;
    display: block;
    top: -1px;
    left: -10px;
    width: 17px;
    height: 10px;
    border-top: 1px solid #bbb;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transform: rotate(228deg);
    z-index: 2;
}
.question-detail .comment-area .active::before {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.question-detail .comment-area .text-area::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -10px;
    width: 20px;
    height: 13px;
    border-top: 1px solid #bbb;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    
}
.question-detail .comment-area .active::after {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    
}
.question-detail .emojionearea .emojionearea-editor {
    height: 60px;
}
.question-detail .customer-comment-area {
    margin: 0;
    border: 0;
}
.question-detail .comment-view-area .comment-view {
    margin-left: 65px;
}
.question-detail .comment-view {
    width: 100%;
    border: 0;
    margin: 0;
}
.question-detail .comment-viwebx {
    position: relative;
    padding: 20px 30px;
    margin-left: 65px;
    width: 1150px;
    height: 100%;
    background-color: #f6f6f6;
}
.question-detail .comment-viwebx p:first-child {
    margin-bottom: 10px;
}
.question-detail .comment-viwebx strong {
    font-size: 15px;
    font-weight: 500;
}
.question-detail .comment-viwebx span {
    color: #666;
    font-size: 14px;
}
.question-detail .comment-viwebx .day {
    margin-left: 10px;
    color: #999;
    font-size: 12px;
}
.question-detail .comment-viwebx::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0;
    left: -13px;
    border: 20px solid #f6f6f6;
    border-color: #f6f6f6 transparent transparent transparent;
}
.question-detail .manager-comment-area {
    margin-bottom: 40px;
}
.question-detail .manager-comment-area .comment-viwebx {
    width: 1210px;
    height: 100%;
}
.question-detail .manager-comment-area .comment-viwebx strong {
    color: #2fb987;
}
.question-detail .manager-comment-area .comment-viwebx .question-btn {
    margin-top: 10px;
    width: 90px;
    height: 35px;
    color: #fff;
    border-radius: 5px;
    background-color: #2fb987;
}
.question-detail .emojionearea .emojionearea-picker.emojionearea-picker-position-top {
    top: 50px;
}
/* 1:1 문의 리스트 */
.question-list .sub-visual {
    background-image: url(../img/question_visual_bg.png);
}
.question-list .broadcast-area {
    margin: 0;
    padding-left: 370px;
    width: 100%;
}
.question-list .broadcast-area img {
    margin: 200px auto 600px;
    width: 583px;
    height: 210px;
}
    
/* 이메일주소 무단수집거부 */
.email {
    padding: 80px 0 150px;
}
.email h3 {
    margin-bottom: 40px;
    font-size: 2.18rem;

}
.email-area {
    padding: 80px 0;
    font-size: 0;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 10px;
}
.email-area img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 40px;
}
.email-area p {
    display: inline-block;
    padding-top: 26px;
    font-size: 1rem;
    height: 100px;
    color: #666;
    text-align: left;
    vertical-align: bottom;
}

/* 업비트 1분 비트코인 */
.upbit {background-image: url(../img/question_visual_bg1.png);}

.upbit-area {
    position: relative;
    width: 1060px;
}
.upbit-area .top-bx {
    padding: 30px;
    height: 530px; 
    background-image: url(../img/banner.png);
    background-size: cover;
}
.upbit-area .top-bx .left-btn-area {
    position: relative;
    float: left;
    font-size: 0;
}
.upbit-area .top-bx .left-btn-area button {
    vertical-align: text-bottom;
}
.upbit-area .top-bx .left-btn-area .navercafe {
    width: 25px;
    height: 25px;
}
.upbit-area .top-bx .left-btn-area .youtube-btn {
    display: inline-block;
    margin: 0 20px;
}
.upbit-area .top-bx .left-btn-area .youtube-btn a {
    display: none;
    position: absolute;
    top: 38px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}
.upbit-area .top-bx .left-btn-area .youtube-btn a.active {
    display: block;
}
.upbit-area .top-bx .left-btn-area .youtube-btn a::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    border: 5px solid transparent;
    border-bottom-color: rgba(0,0,0,0.4);
}
.upbit-area .top-bx .left-btn-area .Ytube {
    width: 31px;
    height: 21px;
}
.upbit-area .top-bx .left-btn-area .share {
    width: 21px;
    height: 21px;
}
.upbit-area .top-bx .right-btn-area {
    float: right;
}
.upbit-area .top-bx .right-btn-area button+button{
    margin-left: 15px;
}
.upbit-area .top-bx .right-btn-area .sound {
    width: 29px;
    height: 24px;
    background-image: url(../img/ic_sound.png);
    background-size: cover;
}
.upbit-area .top-bx .right-btn-area .sound.active {
    background-image: url(../img/ic_sound_y.png);
}
.upbit-area .top-bx .right-btn-area .question {
    width: 26px;
    height: 26px;
}
.upbit-area .mid-bx {
    height: 830px; 
    background-color: #f6f6f6;
}
.upbit-area .btm-bx {
    padding: 45px 80px;
    font-size: 0;
    color: #aaa;
    background-color: #333;
}
.upbit-area .btm-bx div {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.upbit-area .btm-bx strong {
    margin-right: 80px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.upbit-area .btm-bx .r-point {
    color: #ff0000;
}
.upbit-area .btm-bx .w-point {
    color: #fff;
    font-weight: 500;
}
.upbit-area .content-bx {
    position: absolute;
    width: 940px;
    top: 480px;
    left: 90px;
    font-size: 0;
    box-shadow: 0px 20px 30px 0px rgba(0,13,56,0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.upbit-area .content-bx .top-content-bx{
    display: table;
    width: 100%;
}
.upbit-area .content-bx .in-bx {
    display: table-cell;
    font-size: 16px;
    vertical-align: top;
}
.upbit-area .content-bx .in-bx .title {
    padding:  27px 0;
    text-align: center;
    color: #fff;
    background-color: #023388;
}
.upbit-area .content-bx .l-bx {
    width: 30%;
}
.upbit-area .content-bx .l-bx .title {
    border-top-left-radius: 10px;
}
.upbit-area .content-bx .l-bx .title img {
    display: inline-block;
    width: 130px;
}
.upbit-area .content-bx .chat-list {
    float: none;
    position: relative;
    margin: 0;
    padding: 16px 20px;
    width: 100%;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
}
.upbit-area .content-bx .l-bx .chat-list:hover {
    background-color: #eee;
}
.upbit-area .content-bx .l-bx .chat-list:hover .list-cnt span {
    color: #0062df;
    font-weight: 600;
}
.upbit-area .content-bx .chat-list .chat-list-in {
    display: block;
}
.upbit-area .content-bx .chat-list .num {
    display: inline-block;
    margin-right: 16px;
    vertical-align: sub;
}
.upbit-area .content-bx .chat-list .num img {
    width: 8px;
    height: auto;
}
.upbit-area .content-bx .chat-list .list-cnt {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.upbit-area .content-bx .chat-list .list-cnt .arrow {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 20px;
    width: 9px;
    height: auto;
}
.upbit-area .content-bx .chat-list .list-cnt span {
    display: block;
    width: 166px;
    color: #666;
}
.upbit-area .content-bx .chat-list .chat-img {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.upbit-area .content-bx .l-bx .bottom-btn-wrap {
    border-bottom-left-radius: 10px;
}
.upbit-area .content-bx .bottom-btn-wrap {
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
}
.upbit-area .content-bx .bottom-btn {
    margin: 30px 0;
    width: 210px;
    height: 50px;
    color: #fff;
    border-radius: 40px;
    background-color: #0062df;
}
.upbit-area .content-bx .chat_btn {
    display: inline-block;
    margin-top: 5px;
    width: 88px;
    height: auto;
}
.upbit-area .content-bx .w_arrow {
    display: inline-block;
    margin-top: 1px;
    margin-left: 10px;
    vertical-align: text-top;
}
.upbit-area .content-bx .m-bx {
    position: relative;
    width: 40%;
    background-color: #052357;
}
.upbit-area .content-bx .m-bx .title {
    color: rgba(255, 255, 255, 0.6);
    background-color: #002777;
}
.upbit-area .content-bx .m-bx .title .clock{
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: sub;
}
.upbit-area .content-bx .m-bx .content {
    position: relative;
    padding: 55px 0;
    height: 100%;
}
.upbit-area .content-bx .m-bx .content p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -140px;
    width: 280px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 30px;
}
.upbit-area .content-bx .m-bx .content .graph{
    margin-left: 23px;
    width: 330px;
    height: auto;
}
.upbit-area .content-bx .m-bx .content-btm {
    position: absolute;
    bottom: 0;
    padding: 30px 40px;
    width: 100%;
    font-size: 0;
    background-color: #002b76;
}
.upbit-area .content-bx .m-bx .content-btm .left-bar {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 20px;
    background-color: #052357;
    border-radius: 10px;
    vertical-align: top;
}
.upbit-area .content-bx .m-bx .content-btm .left-bar::before {
    content: '';
    position: absolute;
    right: 0;
    width: 65.56%;
    height: 100%;
    background-color: #0062df;
    border-radius: 10px;
}
.upbit-area .content-bx .m-bx .content-btm .left-bar span {
    left: 10px;
}
.upbit-area .content-bx .m-bx .content-btm .pg-bar {
    position: relative;
}
.upbit-area .content-bx .m-bx .content-btm .pg-bar+.pg-bar {
    margin-top: 14px;
}
.upbit-area .content-bx .m-bx .content-btm .pg-bar span {
    position: absolute;
    color: #fff;
    font-size: 12px;
    z-index: 10;
}
.upbit-area .content-bx .m-bx .content-btm .pg-bar .bar-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -36px;
    width: 72px;
    height: 25px;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    background: linear-gradient(to left, #0062df, #529eff);
    border-radius: 20px;
    z-index: 12;

}
.upbit-area .content-bx .m-bx .content-btm .pg-bar:nth-child(2) .bar-btn {
    background: linear-gradient(to left, #e84c3d, #ff6f61);

}
.upbit-area .content-bx .m-bx .content-btm .pg-bar:nth-child(3) .bar-btn {
    background: linear-gradient(to left, #555555, #8a8a8a);

}
.upbit-area .content-bx .m-bx .content-btm .pg-bar .bar-btn img {
    display: inline-block;
    margin-top: 6px;
}
.upbit-area .content-bx .m-bx .content-btm .right-bar {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    width: 50%;
    height: 20px;
    background-color: #052357;
    border-radius: 10px;
}
.upbit-area .content-bx .m-bx .content-btm .right-bar::before {
    content: '';
    position: absolute;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: #e84c3d;
    border-radius: 10px;
}
.upbit-area .content-bx .m-bx .content-btm .right-bar span {
    right: 10px;
}
.upbit-area .content-bx .r-bx {
    width: 30%;
    border-bottom-right-radius: 10px;
}
.upbit-area .content-bx .r-bx .title {
    border-top-right-radius: 10px;
}
.upbit-area .content-bx .r-bx img {
    display: inline-block;
    width: 67px;
}
.upbit-area .content-bx .r-bx .chat-wrap {
    height: 380px;
    overflow-y: scroll;
    background-color: #fff;
}
.upbit-area .content-bx .r-bx .chat-list {
    padding: 12px 20px;
}
.upbit-area .content-bx .r-bx .chat-list .list-cnt {
    font-size: 0;
}
.upbit-area .content-bx .r-bx .chat-list .num {
    width: 40px;
    color: #093687;
    font-weight: 500;
}
.upbit-area .content-bx .r-bx .chat-list .circle {
    width: 45px;
    height: 45px;
}
.upbit-area .content-bx .r-bx .chat-list .circle+.circle {
    margin-left: 8px;
}
.upbit-area .content-bx .r-bx .chat-list:hover .hover-bx {
    display: block;
}
.upbit-area .content-bx .r-bx .hover-bx {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 69px;
    background-color: rgba(0,0,0,0.6);
}
.upbit-area .content-bx .r-bx .hover-bx strong {
    font-weight: 600;
}
.upbit-area .content-bx .r-bx .hover-bx strong:nth-of-type(2) {
    margin-left: 10px;
}
.upbit-area .content-bx .r-bx .hover-bx .y_point {
    color: #fffc00;
    font-size: 1.2rem;
    font-weight: 700;
}
.upbit-area .content-bx .r-bx .bottom-btn-wrap {
    border-bottom-right-radius: 10px;
}
.upbit-area .content-bx .r-bx .bottom-btn-wrap .analysis_go {
    margin-top: 5px;
    width: 102px;
    height: auto;
}
.upbit-area .content-bx .r-bx .bottom-btn-wrap .w_arrow {
    display: inline-block;
    width: 7px;
    margin-top: 1px;
    margin-left: 10px;
    vertical-align: text-top;
}
.upbit-area .btm-content-bx {
    position: absolute;
    margin-top: 30px;
    top: 1050px;
    left: 90px;
    width: 940px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 30px 0px rgba(0,13,56,0.2);
}
.upbit-area .btm-content-bx .title {
   padding: 20px 30px;
   color: #fff;
   background-color: #054cb2;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}
.upbit-area .btm-content-bx .title div {
   float: left;
}
.upbit-area .btm-content-bx .title .point-bx .point {
    margin-left: 10px;
   font-size: 24px;
   letter-spacing: 1px;
}
.upbit-area .btm-content-bx .title .point-bx .point .point-num {
   font-weight: 600;
}
.upbit-area .btm-content-bx .point-inp-bx {
    position: relative;
    margin-left: 40px;
    padding-right: 35px;
   padding-bottom: 5px;
   border-bottom: 3px solid #fff;
}
.upbit-area .btm-content-bx .point-inp-bx .reset_btn {
   position: absolute;
   bottom: 10px;
   right: 0;
   width: 20px;
   height: 20px;
}
.upbit-area .btm-content-bx .point-inp-bx input{
    width: 150px;
    font-size: 22px;
}
.upbit-area .btm-content-bx .point-inp-bx input[type="number"]::-webkit-outer-spin-button,
.upbit-area .btm-content-bx .point-inp-bx input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.upbit-area .btm-content-bx .point-inp-bx input::placeholder{
    color: #a5b4db;
    font-size: 22px;
}
.upbit-area .btm-content-bx .title .btn-bx {
    float: right;
   font-size: 0;
}
.upbit-area .btm-content-bx .title .btn-bx button {
   padding: 10px 33px;
   font-weight: 500;
   border: 1px solid #fff;
   border-radius: 50px;
}
.upbit-area .btm-content-bx .title .btn-bx button+button {
   margin-left: 10px;
}
.upbit-area .btm-content-bx .content {
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.upbit-area .btm-content-bx .content .btn-bx{
    float: left;
}
.upbit-area .btm-content-bx .content .btn-bx div+div {
    margin-top: 8px;
}
.upbit-area .btm-content-bx .content .btn-bx button {
    float: left;
   width: 100px;
   height: 50px;
   color: #666;
   font-size: 18px;
   font-weight: 600;
   background-color: #f6f6f6;
   border-radius: 50px;
}
.upbit-area .btm-content-bx .content .btn-bx .r_point .active {
   color: #fff;
   background-color: #e84c3d;
}
.upbit-area .btm-content-bx .content .btn-bx .b_point .active {
   color: #fff;
   background-color: #0062df;
}
.upbit-area .btm-content-bx .content .btn-bx button+button {
   margin-left: 10px;;
}
.upbit-area .btm-content-bx .content .text-bx {
   float: left;
   display: flex;
   margin-left: 35px;
   border: 1px solid #ddd;
}
.upbit-area .btm-content-bx .content .text-bx div {
   float: left;
   padding: 15px 22px;
   vertical-align: top;
}
.upbit-area .btm-content-bx .content .text-bx div:first-child .title-cnt {
   margin-bottom: 10px;
}
.upbit-area .btm-content-bx .content .text-bx div+div {
   border-left: 1px solid #ddd;
}
.upbit-area .btm-content-bx .content .text-bx span {
    display: block;
    text-align: center;
    color: #333;
 }
.upbit-area .btm-content-bx .content .text-bx .title-cnt {
    margin-bottom: 5px;
 }
.upbit-area .btm-content-bx .content .text-bx .r_point {
    font-size: 20px;
    font-weight: 600;
    color: #e84c3d;
 }
.upbit-area .btm-content-bx .content .text-bx .b_point {
    font-size: 20px;
    font-weight: 600;
    line-height: 0.8;
    color: #0062df;
 }
.upbit-area .btm-content-bx .content .text-bx .num-cnt {
    font-size: 30px;
    font-weight: 700;
    color: #0062df;
 }
.upbit-area .btm-content-bx .content .batting {
    float: right;
 }
.upbit-area .btm-content-bx .content .batting img {
    margin-top: 5px;
    width: 108px;
    height: 108px;
 }
/* footer */
footer {
    position: relative;
    padding: 60px 0 80px;
    text-align: center;
    background-color: #333;
}
footer .footer-logo {
    display: inline-block;
    margin-bottom: 30px;
    width: 150px;
    height: 37px;
    background-image: url(../img/footer_logo.png);
    background-size: cover;
}
footer .footer-logo a {
    display: block;
    width: 100%;
    height: 100%;
}
footer ul {
    font-size: 0;
}
footer ul li {
    position: relative;
    display: inline-block;
    color: #888;
    font-size: 0.9rem;
    font-weight: bold;
}
footer ul li+li {
    margin-left: 3%;
}
footer ul li+li::after {
    content: '';
    position: absolute;
    top: 4px;
    left: -25px;
    width: 1px;
    height: 13px;
    background-color: #888;
}
footer address {
    margin-top: 40px;
    color: #777;
    font-size: 0.8em;
}
footer address p {
    padding: 2px 0;
}
footer address .copyright {
    margin-top: 10px;
    color: #999;
}


@media (max-width:1440px) {
    .visual header nav {
        left: 20%;
    }
}
@media (max-width:1280px) {
    .visual header nav {
        left: 10%;
    }
} 